In [307]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [308]:
#Data Collection

In [309]:
train=pd.read_csv("Jupiter Files/train_ctrUa4K.csv")
test=pd.read_csv("Jupiter Files/test_lAUu6dG.csv")
sample=pd.read_csv("Jupiter Files/sample_submission_49d68Cx.csv")

In [310]:
#Data Exploration

In [311]:
pd.set_option("display.max.rows",10)
pd.set_option("display.max.columns",10)
train

,Loan_ID,Gender,Married,Dependents,Education,...,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,...,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,...,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,...,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,...,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,...,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,...,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,...,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,...,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,...,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,...,133.0,360.0,0.0,Semiurban,N

In [312]:
test

,Loan_ID,Gender,Married,Dependents,Education,...,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,...,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,...,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,...,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,...,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,...,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,...,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,...,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,...,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,...,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,...,0,98.0,180.0,1.0,Rural

In [313]:
test.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [314]:
sample

      Loan_ID Loan_Status
0    LP001015           N
1    LP001022           N
2    LP001031           N
3    LP001035           N
4    LP001051           N
..        ...         ...
362  LP002971           N
363  LP002975           N
364  LP002980           N
365  LP002986           N
366  LP002989           N

[367 rows x 2 columns]

In [315]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,...,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,...,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,...,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,...,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,...,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,...,141.0,360.0,1.0,Urban,Y

In [316]:
train.shape

(614, 13)

In [317]:
pd.set_option("display.max.rows",None)
pd.set_option("display.max.columns",None)
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [318]:
#Data Wrangling

In [319]:
#Removing missing values

In [320]:
from sklearn.impute import SimpleImputer
 
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
cols=['Gender','Married','Self_Employed','Dependents','Loan_Amount_Term','Credit_History']
train[cols] = imputer.fit_transform(train[cols])

In [321]:
train[['LoanAmount','Loan_Amount_Term','Credit_History']].nunique()

LoanAmount          203
Loan_Amount_Term     10
Credit_History        2
dtype: int64

In [322]:
train.nunique()

Loan_ID              614
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      505
CoapplicantIncome    287
LoanAmount           203
Loan_Amount_Term      10
Credit_History         2
Property_Area          3
Loan_Status            2
dtype: int64

In [323]:
train.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term      object
Credit_History        object
Property_Area         object
Loan_Status           object
dtype: object

In [324]:
for i in ['LoanAmount']:
    train[i]=train[i].fillna(train[i].median())

In [325]:
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [326]:
train=train.drop('Loan_ID',axis=1)

In [327]:
#One hot encoding

In [328]:
h_columns=list(train) 
h_columns.remove('ApplicantIncome') 
h_columns.remove('CoapplicantIncome') 
h_columns.remove('LoanAmount') 
h_columns.remove('Loan_Status') 
h_columns.remove('Loan_Amount_Term')

In [329]:
train2=pd.get_dummies(train,columns=h_columns)

C:\Users\noels\AppData\Local\Temp\ipykernel_17632\3076198545.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  train2=pd.get_dummies(train,columns=h_columns)

In [330]:
train2.shape

(614, 22)

In [331]:
train2.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Loan_Status', 'Gender_Female', 'Gender_Male',
       'Married_No', 'Married_Yes', 'Dependents_0', 'Dependents_1',
       'Dependents_2', 'Dependents_3+', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_No', 'Self_Employed_Yes',
       'Credit_History_0.0', 'Credit_History_1.0', 'Property_Area_Rural',
       'Property_Area_Semiurban', 'Property_Area_Urban'],
      dtype='object')

In [332]:
pd.set_option("display.max.rows",None)
pd.set_option("display.max.columns",None)
train2.dtypes

ApplicantIncome              int64
CoapplicantIncome          float64
LoanAmount                 float64
Loan_Amount_Term            object
Loan_Status                 object
Gender_Female                uint8
Gender_Male                  uint8
Married_No                   uint8
Married_Yes                  uint8
Dependents_0                 uint8
Dependents_1                 uint8
Dependents_2                 uint8
Dependents_3+                uint8
Education_Graduate           uint8
Education_Not Graduate       uint8
Self_Employed_No             uint8
Self_Employed_Yes            uint8
Credit_History_0.0           uint8
Credit_History_1.0           uint8
Property_Area_Rural          uint8
Property_Area_Semiurban      uint8
Property_Area_Urban          uint8
dtype: object

In [333]:
train2['Loan_Amount_Term'] = train2['Loan_Amount_Term'].astype(int)

In [334]:
train2.dtypes

ApplicantIncome              int64
CoapplicantIncome          float64
LoanAmount                 float64
Loan_Amount_Term             int32
Loan_Status                 object
Gender_Female                uint8
Gender_Male                  uint8
Married_No                   uint8
Married_Yes                  uint8
Dependents_0                 uint8
Dependents_1                 uint8
Dependents_2                 uint8
Dependents_3+                uint8
Education_Graduate           uint8
Education_Not Graduate       uint8
Self_Employed_No             uint8
Self_Employed_Yes            uint8
Credit_History_0.0           uint8
Credit_History_1.0           uint8
Property_Area_Rural          uint8
Property_Area_Semiurban      uint8
Property_Area_Urban          uint8
dtype: object

In [335]:
#Label Encoding

In [336]:
train2.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Credit_History_0.0,Credit_History_1.0,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,5849,0.0,128.0,360,Y,0,1,1,0,1,0,0,0,1,0,1,0,0,1,0,0,1
1,4583,1508.0,128.0,360,N,0,1,0,1,0,1,0,0,1,0,1,0,0,1,1,0,0
2,3000,0.0,66.0,360,Y,0,1,0,1,1,0,0,0,1,0,0,1,0,1,0,0,1
3,2583,2358.0,120.0,360,Y,0,1,0,1,1,0,0,0,0,1,1,0,0,1,0,0,1
4,6000,0.0,141.0,360,Y,0,1,1,0,1,0,0,0,1,0,1,0,0,1,0,0,1

In [337]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
train2['Loan_Status']=label_encoder.fit_transform(train2['Loan_Status'])

In [338]:
train2.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Credit_History_0.0,Credit_History_1.0,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,5849,0.0,128.0,360,1,0,1,1,0,1,0,0,0,1,0,1,0,0,1,0,0,1
1,4583,1508.0,128.0,360,0,0,1,0,1,0,1,0,0,1,0,1,0,0,1,1,0,0
2,3000,0.0,66.0,360,1,0,1,0,1,1,0,0,0,1,0,0,1,0,1,0,0,1
3,2583,2358.0,120.0,360,1,0,1,0,1,1,0,0,0,0,1,1,0,0,1,0,0,1
4,6000,0.0,141.0,360,1,0,1,1,0,1,0,0,0,1,0,1,0,0,1,0,0,1

In [339]:
#Data Analysis
#Cross Validation

In [340]:
X=train2.drop('Loan_Status',axis=1)
y=train2['Loan_Status']

In [341]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [342]:
#Logistic Regression

In [343]:
from sklearn.linear_model import LogisticRegression
lm=LogisticRegression()
lm.fit(X_train,y_train)
y_pred=lm.predict(X_test)

In [344]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
print("Accuracy=",accuracy_score(y_test,y_pred))
print("Precision=",precision_score(y_test,y_pred))
print("Recall=",recall_score(y_test,y_pred))
print("f1 score=",f1_score(y_test,y_pred))

Accuracy= 0.8246753246753247
Precision= 0.8062015503875969
Recall= 0.9811320754716981
f1 score= 0.8851063829787235

In [345]:
#Preparing test data

In [346]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [347]:
from sklearn.impute import SimpleImputer
 
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
cols=['Gender','Self_Employed','Dependents','Loan_Amount_Term','Credit_History']
test[cols] = imputer.fit_transform(test[cols])

In [348]:
for i in ['LoanAmount']:
    test[i]=test[i].fillna(test[i].median())

In [349]:
test=test.drop('Loan_ID',axis=1)

In [350]:
test.isna().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [351]:
test['Loan_Amount_Term'] = test['Loan_Amount_Term'].astype(int)

In [352]:
test.dtypes

Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term       int32
Credit_History        object
Property_Area         object
dtype: object

In [353]:
h_columns=list(test) 
h_columns.remove('ApplicantIncome') 
h_columns.remove('CoapplicantIncome') 
h_columns.remove('LoanAmount')
h_columns.remove('Loan_Amount_Term')

In [354]:
test2=pd.get_dummies(test,columns=h_columns)

C:\Users\noels\AppData\Local\Temp\ipykernel_17632\2085499433.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  test2=pd.get_dummies(test,columns=h_columns)

In [355]:
test2.dtypes

ApplicantIncome              int64
CoapplicantIncome            int64
LoanAmount                 float64
Loan_Amount_Term             int32
Gender_Female                uint8
Gender_Male                  uint8
Married_No                   uint8
Married_Yes                  uint8
Dependents_0                 uint8
Dependents_1                 uint8
Dependents_2                 uint8
Dependents_3+                uint8
Education_Graduate           uint8
Education_Not Graduate       uint8
Self_Employed_No             uint8
Self_Employed_Yes            uint8
Credit_History_0.0           uint8
Credit_History_1.0           uint8
Property_Area_Rural          uint8
Property_Area_Semiurban      uint8
Property_Area_Urban          uint8
dtype: object

In [356]:
#Training test data to predict target variable

In [357]:
y_pred2=lm.predict(test2)

In [358]:
y_pred2

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [ ]:
#Adding the predictions to the sample

In [359]:
y_pred3=[]
for i in range(len(y_pred2)):
    if y_pred2[i]==1:
        y_pred3.append('Y')
    elif y_pred2[i]==0:
        y_pred3.append('N')

In [360]:
y_pred3

['Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y']

In [363]:
sample['Loan_Status']=y_pred3
sample

      Loan_ID Loan_Status
0    LP001015           Y
1    LP001022           Y
2    LP001031           Y
3    LP001035           Y
4    LP001051           Y
5    LP001054           Y
6    LP001055           Y
7    LP001056           N
8    LP001059           Y
9    LP001067           Y
10   LP001078           Y
11   LP001082           Y
12   LP001083           Y
13   LP001094           N
14   LP001096           Y
15   LP001099           Y
16   LP001105           Y
17   LP001107           Y
18   LP001108           Y
19   LP001115           Y
20   LP001121           Y
21   LP001124           Y
22   LP001128           Y
23   LP001135           Y
24   LP001149           Y
25   LP001153           N
26   LP001163           Y
27   LP001169           Y
28   LP001174           Y
29   LP001176           Y
30   LP001177           Y
31   LP001183           Y
32   LP001185           Y
33   LP001187           Y
34   LP001190           Y
35   LP001203           N
36   LP001208           Y
37   LP001210           Y
38   LP001211           Y
39   LP001219           Y
40   LP001220           Y
41   LP001221           Y
42   LP001226           Y
43   LP001230           Y
44   LP001231           Y
45   LP001232           Y
46   LP001237           Y
47   LP001242           Y
48   LP001268           Y
49   LP001270           Y
50   LP001284           Y
51   LP001287           Y
52   LP001291           Y
53   LP001298           Y
54   LP001312           Y
55   LP001313           N
56   LP001317           Y
57   LP001321           Y
58   LP001323           N
59   LP001324           Y
60   LP001332           Y
61   LP001335           Y
62   LP001338           Y
63   LP001347           N
64   LP001348           Y
65   LP001351           Y
66   LP001352           N
67   LP001358           N
68   LP001359           Y
69   LP001361           N
70   LP001366           Y
71   LP001368           Y
72   LP001375           Y
73   LP001380           Y
74   LP001386           Y
75   LP001400           Y
76   LP001407           Y
77   LP001413           Y
78   LP001415           Y
79   LP001419           Y
80   LP001420           N
81   LP001428           Y
82   LP001445           N
83   LP001446           Y
84   LP001450           N
85   LP001452           Y
86   LP001455           Y
87   LP001466           Y
88   LP001471           Y
89   LP001472           Y
90   LP001475           Y
91   LP001483           Y
92   LP001486           Y
93   LP001490           Y
94   LP001496           N
95   LP001499           Y
96   LP001500           Y
97   LP001501           Y
98   LP001517           Y
99   LP001527           Y
100  LP001534           Y
101  LP001542           N
102  LP001547           Y
103  LP001548           Y
104  LP001558           Y
105  LP001561           Y
106  LP001563           N
107  LP001567           Y
108  LP001568           Y
109  LP001573           Y
110  LP001584           Y
111  LP001587           Y
112  LP001589           Y
113  LP001591           Y
114  LP001599           Y
115  LP001601           Y
116  LP001607           Y
117  LP001611           N
118  LP001613           N
119  LP001622           N
120  LP001627           Y
121  LP001650           Y
122  LP001651           Y
123  LP001652           N
124  LP001655           N
125  LP001660           Y
126  LP001662           N
127  LP001663           Y
128  LP001667           Y
129  LP001695           Y
130  LP001703           Y
131  LP001718           Y
132  LP001728           Y
133  LP001735           Y
134  LP001737           Y
135  LP001739           Y
136  LP001742           Y
137  LP001757           Y
138  LP001769           Y
139  LP001771           Y
140  LP001785           N
141  LP001787           Y
142  LP001789           N
143  LP001791           Y
144  LP001794           Y
145  LP001797           Y
146  LP001815           Y
147  LP001817           N
148  LP001818           Y
149  LP001822           Y
150  LP001827           Y
151  LP001831           Y
152  LP001842           Y
153  LP001853           N
154  LP001855           Y
155  LP001857           Y
156  LP001862           Y
157  LP001867           Y
158  LP001878           Y
159  LP001881           Y
160  LP001886           Y
161  LP001906           N
162  LP001909           Y
163  LP001911           Y
164  LP001921           Y
165  LP001923           N
166  LP001933           N
167  LP001943           Y
168  LP001950           N
169  LP001959           Y
170  LP001961           Y
171  LP001973           Y
172  LP001975           Y
173  LP001979           N
174  LP001995           N
175  LP001999           Y
176  LP002007           Y
177  LP002009           Y
178  LP002016           Y
179  LP002017           Y
180  LP002018           Y
181  LP002027           Y
182  LP002028           Y
183  LP002042           Y
184  LP002045           Y
185  LP002046           Y
186  LP002047           Y
187  LP002056           Y
188  LP002057           Y
189  LP002059           Y
190  LP002062           Y
191  LP002064           Y
192  LP002069           N
193  LP002070           N
194  LP002077           Y
195  LP002083           Y
196  LP002090           N
197  LP002096           Y
198  LP002099           N
199  LP002102           Y
200  LP002105           Y
201  LP002107           Y
202  LP002111           Y
203  LP002117           Y
204  LP002118           Y
205  LP002123           Y
206  LP002125           Y
207  LP002148           Y
208  LP002152           Y
209  LP002165           N
210  LP002167           Y
211  LP002168           N
212  LP002172           Y
213  LP002176           Y
214  LP002183           Y
215  LP002184           Y
216  LP002186           Y
217  LP002192           Y
218  LP002195           Y
219  LP002208           Y
220  LP002212           Y
221  LP002240           Y
222  LP002245           Y
223  LP002253           Y
224  LP002256           N
225  LP002257           Y
226  LP002264           Y
227  LP002270           Y
228  LP002279           Y
229  LP002286           N
230  LP002294           Y
231  LP002298           Y
232  LP002306           Y
233  LP002310           Y
234  LP002311           Y
235  LP002316           N
236  LP002321           N
237  LP002325           Y
238  LP002326           Y
239  LP002329           Y
240  LP002333           Y
241  LP002339           N
242  LP002344           Y
243  LP002346           N
244  LP002354           Y
245  LP002355           N
246  LP002358           Y
247  LP002360           Y
248  LP002375           Y
249  LP002376           Y
250  LP002383           N
251  LP002385           Y
252  LP002389           Y
253  LP002394           Y
254  LP002397           Y
255  LP002399           N
256  LP002400           Y
257  LP002402           Y
258  LP002412           Y
259  LP002415           Y
260  LP002417           Y
261  LP002420           Y
262  LP002425           Y
263  LP002433           Y
264  LP002440           Y
265  LP002441           Y
266  LP002442           N
267  LP002445           N
268  LP002450           N
269  LP002471           Y
270  LP002476           Y
271  LP002482           Y
272  LP002485           Y
273  LP002495           N
274  LP002496           N
275  LP002523           Y
276  LP002542           Y
277  LP002550           Y
278  LP002551           N
279  LP002553           Y
280  LP002554           Y
281  LP002561           Y
282  LP002566           Y
283  LP002568           Y
284  LP002570           Y
285  LP002572           Y
286  LP002581           Y
287  LP002584           Y
288  LP002592           Y
289  LP002593           Y
290  LP002599           Y
291  LP002604           Y
292  LP002605           Y
293  LP002609           N
294  LP002610           Y
295  LP002612           Y
296  LP002614           Y
297  LP002630           Y
298  LP002635           Y
299  LP002639           Y
300  LP002644           Y
301  LP002651           N
302  LP002654           Y
303  LP002657           Y
304  LP002711           Y
305  LP002712           Y
306  LP002721           Y
307  LP002735           Y
308  LP002744           Y
309  LP002745           Y
310  LP002746           Y
311  LP002747           N
312  LP002754           Y
313  LP002759           Y
314  LP002760           Y
315  LP002766           Y
316  LP002769           Y
317  LP002774           N
318  LP002775           Y
319  LP002781           Y
320  LP002782           Y
321  LP002786           Y
322  LP002790           Y
323  LP002791           Y
324  LP002793           Y
325  LP002802           N
326  LP002803           Y
327  LP002805           Y
328  LP002806           Y
329  LP002816           Y
330  LP002823           Y
331  LP002825           Y
332  LP002826           Y
333  LP002843           Y
334  LP002849           Y
335  LP002850           Y
336  LP002853           Y
337  LP002856           Y
338  LP002857           Y
339  LP002858           N
340  LP002860           Y
341  LP002867           Y
342  LP002869           Y
343  LP002870           Y
344  LP002876           Y
345  LP002878           Y
346  LP002879           N
347  LP002885           Y
348  LP002890           Y
349  LP002891           Y
350  LP002899           Y
351  LP002901           Y
352  LP002907           Y
353  LP002920           Y
354  LP002921           N
355  LP002932           Y
356  LP002935           Y
357  LP002952           Y
358  LP002954           Y
359  LP002962           Y
360  LP002965           Y
361  LP002969           Y
362  LP002971           Y
363  LP002975           Y
364  LP002980           Y
365  LP002986           Y
366  LP002989           Y

In [364]:
path="D:\DownloadsD\Sample3.csv"
sample.to_csv(path,index=False)